{% extends "./base-home.html" %}
{% block content %}
        {% load static %}  
        <script src="{% static '/js/papaparse.min.js' %}" type="text/javascript"></script>
        <script src="{% static '/js/index.js' %}" type="text/javascript"></script> 
        <script>
            var clusterSuccess = "{{clusterSuccess}}";
            if (clusterSuccess == "True") {
                alert("Cluster Successfully");
                window.location.href = "/admin/home/clustereduser/";
            }

            var result = "{{result}}";
            if (result) {
                alert(result)
            }
        </script>
        <style>
            label {
                display: inline-block;
                width: 200px;
                text-align: right;
            }​
        </style> 
        <div style="width: 100%;text-align: center">
            <h1>Customer Experience Management</h1>
            <h2>CLUSTER CUSTOMER</h2>
            <br/>
            <br/>
            <form action="/admin/cjx/cluster-user/{{ clusterID }}" method="post" name="clusterUserForm" onsubmit="return validateClusterUserForm()" id="clusterUserForm" style="display: inline-block; text-align: left"/>
                {% csrf_token %}
                <label>From &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp: </label>
                <input name="startDate" type="date" min='2000-1-1'/>
                <br>
                <label>To &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp: </label>
                <input name="endDate" type="date" min='2000-1-1'/>
                <br>
                <br>
                <input type="submit" value="Submit" style="margin:auto; display:block"/>
            </form>
        </div>
{% endblock %}