{% extends "./base-home.html" %}
{% block content %}
    <h1>Customer Experience Management</h1>
    <ul>
        <li><a href="import-data">Import Data</a></li>
        <li><a href="visualize-graph">Visualize Journey</a></li>
        <li><a href="cluster-journey">Cluster Journey</a></li>
        <li><a href="classify-touchpoint">Classify touchpoint</a></li>
        <li><a href="predict-touchpoint">Predict Touchpoint</a></li>
        <li><a href="add-rule">Add automation rule</a></li>
    </ul>
{% endblock %}